<div class="auto-code-formatting">
  <header>
    <h1 class="auto-code-formatting__heading">
      AutoCodeFormatting
    </h1>
  </header>

  <main class="auto-code-formatting__main">
    <div
      class="xyz"
      style="color: darkcyan;"
    >
      This project basically demonstrates that how we can do auto code formatting with prettier and js-beautify with our
      custom formatting configuration options using lint-staged & husky which will allow us to do auto code formatting
      on git pre-commit hook.
    </div>

    <div>
      <label>Advantages:</label>
      <ul>
        <li>So PR(Pull Request) reviewers can get rid of pain of unnecessary white spaces while reviewing developers
          code.</li>
        <li>Our pre-define global code formatting rules will always follow in our remote central repository. so no
          matter developers installed this formatting plugins(prettier, js-beautify) on their machine or not!</li>
        <li>Save your development time without worrying code formatting</li>
      </ul>
    </div>

    <div>
      <label>Where to find more available configuration options:</label>
      <ul>
        <li>
          prettier:
          <a
            href="https://prettier.io/docs/en/options.html"
            target="_blank"
          >
            Click me to see more available configuration options of prettier
          </a>
        </li>
        <li>
          js-beautify:
          <a
            href="https://github.com/beautify-web/js-beautify#css--html"
            target="_blank"
          >
            Click me to see more available configuration options of js-beautify
          </a>
        </li>
      </ul>
    </div>
  </main>

  <footer class="auto-code-formatting__footer">
    <span>Created By Codeptive Solutions</span>
  </footer>
</div>
