<div>
  <header>
    <h1 style="color: darkblue;padding: 20px;">
      AutoCodeFormatting
    </h1>
  </header>

  <main style="padding: 20px;">
    <div
      class="xyz"
      style="color: darkcyan;"
    >
      This project basically demonstrates that how we can do auto code formatting with prettier and js-beautify using
      lint-staged & husky which will allow us to do auto code formatting on git pre-commit hook.
    </div>

    <div style="padding-top: 20px;">
      <label style="color: darkblue;">Advantages:</label>
      <ul style="color: darkcyan;">
        <li>So PR(Pull Request) reviewers can get rid of pain of unnecessary white spaces while reviewing developers
          code.</li>
        <li>Our pre-define global code formatting rules will always follow in our remote central repository. so no
          matter developers installed this formatting plugins(prettier, js-beautify) on their machine or not!</li>
        <li>Save your development time without worrying code formatting</li>
      </ul>
    </div>
  </main>

  <footer style="color: darkgreen;padding: 20px;">
    <span>Created By Codeptive Solutions</span>
  </footer>
</div>
